

# Change the file name to the .env from .env_example

DATABASE_URL="Get the Link from the neon"

EMAIL_USER= For OTP
EMAIL_PASS= For OTP

ADMIN_EMAIL= For OTP


GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_SECRET=your-nextauth-secret
